{% macro meal_photo(meal) %}
    {% set photo = get_meal_photo(meal, '300') %}
    {% set photo_max = get_meal_photo(meal, '800') %}
    {% if photo %}
        <a data-zoom="{{ photo_max }}" class="thumbnail" href="#">
            <img src="{{ photo }}" alt="Photo du plat {{ meal.name }}">
        </a>
    {% else %}
        <div class="no-photo">
            Aucune photo
        </div>
    {% endif %}
{% endmacro %}
