{% extends "base.html.twig" %}

{% block body %}
    {% set admin_breadcrumb = admin_breadcrumb|default(null) %}
    <div class="container">
        <div class="page-header">
            <h3>
                <a href="{{ path('homepage') }}" class="pull-right btn btn-sm btn-primary"> <span class="glyphicon glyphicon-chevron-left"></span> Revenir au site</a>
                {% if admin_breadcrumb is null %}
                    Commandes
                {% else %}
                    <a href="{{ path('admin_orders') }}">Commandes</a>
                    {% for crumb in admin_breadcrumb %}
                        {% if loop.first or not loop.last %}
                            &raquo;
                        {% endif %}
                        {{ crumb.label }}
                    {% endfor %}
                {% endif %}
            </h3>
        </div>
        {% for message in app.request.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% block content '' %}
    </div>
{% endblock %}
