{% extends "base.html.twig" %}

{% block body %}
    {{ render(controller('AppBundle:Default:header', {active: header_active|default})) }}
    <div class="container">
        {% block content '' %}
    </div>
{% endblock %}
