{% extends 'layout.html.twig' %}

{% block title 'Vente de plats franco-portugais dans le Pas-de-Calais' %}

{% block content %}
    <h2>Envie d'un plat ? Commandez, et venez chercher !</h2>
{% endblock %}
