@imageWidth: 200px;
@imageHeight: 164px;
@imageSrc: "/images/logo.png";

.edp-header {
    > .container {
        padding: 0px 0 20px 0;

        > a.brand {
            margin: 0 auto;
            display: block;
            width: @imageWidth;
            height: @imageHeight;
            background-image: url(@imageSrc);

            > span {
                display: none;
            }
        }
    }
}

.nav-categories-wrapper
{
    background-color: white;
    border: 0;
    text-align: center;
}

.nav-categories > li.category {

    background-color: white;
    border-bottom: 3px solid white;
    background-color: white;

    > a {
        color: #777;
    }

    &.active, &:hover {
        background-color: white;
        border-color: red;
    }

    &.active > a {
        color: black;
    }

    &.active > a, &:hover > a {
        background-color: white;
    }
}
