.menu {

    h2 {
        color: #444;
        border-bottom: 1px dashed #ddd;
        padding-bottom: 0.3em;
        margin-bottom: 1em;
    }

    .meal {
        h4 {
            margin-top: 0;
            font-weight: bold;
        }

        margin-bottom: 2em;
    }

    .photo {
        text-align: center;
        background-color: #ddd;
    }

    .no-photo {
        background-color: #ddd;
        color: #bbb;
        text-align: center;
        line-height: 100px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9em;
    }

    .add-to-cart {
        position: relative;

        > .btn-add-to-cart {
            width: 100px;
        }

        > .alert {
            margin: 1em 0;
        }

        @media only screen and (min-width: 833px) {
            > .alert {
                margin-top: 0;
                position: absolute;
                top: 0px;
                left: 120px;
            }
        }
    }

    .btn-edit-cart {
        width: 270px;
    }
}
