{% extends 'layout.html.twig' %}

{% block title 'Vente de plats franco-portugais dans le Pas-de-Calais' %}

{% block content %}
    <h2>Choisissez, commandez, emportez !</h2>
    <p>Si vous êtes <strong>dans le Pas-de-Calais</strong> ou pas très loin, et qu'un soir vous n'avez pas envie de faire à manger, alors <a href="#">consultez notre menu</a> et commandez un petit plat !</p>
    <div class="row">
        <div class="col-md-4">
            <h3>Des plats français et portugais</h3>
            <p>Il y a bien sûr les traditionnels plats portugais comme ceux à la morue. Mais connaissez-vous les desserts portugais, comme les Pastéis de Nata ?</p>
        </div>
        <div class="col-md-4">
            <h3>Des plats fait maison</h3>
            <p>Préparés à partir de produits frais et à la demande uniquement, soyez assuré de la fraîcheur et de la qualité des plats vendus.</p>
            <p>L'essayer, c'est l'adopter !</p>
        </div>
        <div class="col-md-4">
            <h3>A emporter, à Liencourt</h3>
            <p>Malheureusement, ces délicieux petits plats ne sont disponibles que à emporter et 48h à l'avance !</p>
        </div>
    </div>
{% endblock %}
