@import "node_modules/bootstrap/scss/mixins"

.edp--header
    margin: 1rem 0 .5rem 0

    > .container > .row
        display: flex
        align-items: center

        > .col--logo
            > a
                display: block
                > img
                    max-width: 200px
                    max-height: 139px

        > .col--title
            text-align: center
            > h1 > a
                text-decoration: none
            > h1 > div
                font-size: 1.5rem

        > .col--extra
            text-align: right

        @include media-breakpoint-down(sm)
            > .col--logo, > .col--title, > .col--extra
                text-align: center

.navbar-categories > li

    background-color: white
    border-bottom: 3px solid white

    > a
        text-decoration: none

    &.active, &:hover
        background-color: white
        border-color: red

    &.active > a
        color: black

    &.active > a, &:hover > a
        background-color: white

.nav-categories-wrapper
    background-color: #f8f8f8
    border-bottom: 1px solid #e8e8e8

.nav-categories
    > li
        display: inline-block
        &.active
            background-color: #e8e8e8
