@import "_theme"

$active-border-color: red

.edp--header
    padding: 1rem 0
    background-color: $palette-white

    > .container > .row
        display: flex
        align-items: center

        > .col--logo
            > a
                display: block
                > img
                    max-width: 200px
                    max-height: 139px

        > .col--title
            text-align: center
            > h1 > a
                text-decoration: none
            > h1 > div
                font-size: 1.5rem

        > .col--extra
            text-align: right

        @include media-breakpoint-down(sm)
            > .col--logo, > .col--title, > .col--extra
                text-align: center

.edp--nav
    padding: 0
    margin-bottom: 2rem

    ul.navbar-nav
        > .nav-item
            &.nav-item-group > .nav-link
                background: $palette-white

            > .nav-link
                color: $palette-dark
                text-decoration: none
                padding: .5rem
                border-bottom: 3px solid rgba($palette-white, 0)
                &.active, &:hover
                    border-bottom: 3px solid $active-border-color
