<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title '???' %} - {{ sitename }}</title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        {% block body '' %}
        {{ encore_entry_script_tags('app') }}

        <div id="modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="modal-title" class="modal-title">Modal title</h5>
                        <button id="modal-close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modal-body">
                    </div>
                </div>
            </div>
        </div>

        {{ include('_analytics.html.twig') }}
    </body>
</html>
