{% extends "base.html.twig" %}

{% block body %}
    {{ include('default/_header.html.twig', {active: header_active|default}) }}
    <div class="container edp--content">
        <div class="content">
            {% block content '' %}
        </div>
    </div>
    <hr />
    <p class="text-right"><sup><em>Photos non contractuelles</em></sup></p>
{% endblock %}
